{% extends 'base.html.twig' %}
{% block body %}
    <div class="card">
        <div class="card-body">
            <h1>liste des Reclamations</h1>
            <div class="form-control">
                {{ form_start(form) }}
                {{ form_end(form) }}
            </div>

            <table border="1" class="table datatable">
                <thead>
                <tr>
                    <td> ID  </td>
                    <td> titre </td>
                    <td> Id membre </td>
                    <td> date rec </td>
                    <td> Description </td>
                    <td> id echange </td>
                    <td> etat </td>

                </tr>
                </thead>
                <tbody>
                {% for R in Reclamation %}
                    <tr>
                        <td>{{R.id}}</td>
                        <td>{{R.titre}}</td>
                        <td>{{R.idmembre}}</td>
                        <td>{{R.Daterec|date('Y-m-d')}}</td>
                        <td>{{R.Description}}</td>
                        <td>{{R.idechange}}</td>
                        <td>{{R.etat}}</td>

                        <td><a href=" {{ path('accepter' ,{'id':R.id})}} ">accepter</a></td>
                        <td><a href=" {{ path('refuser' ,{'id':R.id})}} ">refuser</a></td>


                    </tr>

                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>


{% endblock %}