
{% block body %}
    <div class="card">
        <div class="card-body">
            <h1>liste des echanges</h1>
            <table border="1" class="table datatable">
                <thead>
                <tr>
                    <td> ID Echange </td>
                    <td> Id membre1 </td>
                    <td> Id membre2 </td>
                    <td> Id article1 </td>
                    <td> Id article2 </td>
                    <td> Id Echange </td>
                    <td> etat </td>

                </tr>
                </thead>
                <tbody>
                {% for E in Echange %}
                    <tr>
                        <td>{{E.idechange}}</td>
                        <td>{{E.idmembre1}}</td>
                        <td>{{E.idmembre2}}</td>
                        <td>{{E.idarticle1}}</td>
                        <td>{{E.idarticle2}}</td>
                        <td>{{E.etat}}</td>

                        <td><a href=" {{ path('delete' ,{'idechange':E.idechange})}} ">Delete</a></td>
                        <td><a href=" {{ path('update' ,{'idechange':E.idechange})}} ">UPDATE</a></td>

                    </tr>

                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>


{% endblock %}