{% extends 'base.html.twig' %}
{% block body %}
    <div class="card">
        <div class="card-body">
            <h1>liste des echanges</h1>
            <div id="errorMsg" class="alert alert-danger d-none" role="alert">
                vous avez déja envoyer une reclamation a propos cette echange dans les 3 derniers jours
                <span id="isClawzed" class="float-right">X</span>
            </div>
            <table border="1" class="table datatable">
                <thead>
                <tr>
                    <td> ID Echange </td>
                    <td> Id membre1 </td>
                    <td> Id membre2 </td>
                    <td> Id article1 </td>
                    <td> Id article2 </td>

                    <td> etat </td>

                </tr>
                </thead>
                <tbody>
                {% for E in Echange %}
                    <tr>
                        <td>{{E.id}}</td>
                        <td>{{E.idmembre1}}</td>
                        <td>{{E.idmembre2}}</td>
                        <td>{{E.idarticle1}}</td>
                        <td>{{E.idarticle2}}</td>
                        <td>{{E.etat}}</td>


                        <td><a href=" {{ path('deleteEchange' ,{'id':E.id})}} ">Delete</a></td>
                        <td><a href=" {{ path('updateEchange' ,{'id':E.id})}} ">UPDATE</a></td>
                        <td><button class="btn btn-primary reclamationBtn" data-idEchange="{{ E.id }}" data-url="{{ path('addReclamation' ,{'id':E.id})}}">Reclamer</button></td>


                    </tr>

                {% endfor %}
                </tbody>
            </table>
            <a href="{{ path('add') }}">ajouter une echange</a>
        </div>
    </div>
{% endblock %}
{% block additionalJavascripts %}
    <script>
        $(".reclamationBtn").click(function (){
            let idEchange = $(this).attr("data-idEchange");
            let href = $(this).attr("data-url");
            $.ajax({
                type: "GET",
                url: "{{ path('checkReclamation') }}",
                data: {
                    idEchange
                },
                dataType: "json",
                success: function(response) {
                    if (data !=-1){
                        if (response.data == false) {
                            $('#errorMsg').removeClass("d-none");
                        } else {
                            window.location.href = href;
                        }
                    }else {
                        alert('something went wrong')
                    }
                }
            });
        });
        $("#isClawzed").click(function (){
            $('#errorMsg').addClass("d-none");
        })
    </script>
{% endblock %}